@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
