@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-gray-900 font-sans text-white;
}

html,
body {
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: manipulation;
}
